<div class="modal-dialog">
  <div class="modal-header " mat-dialog-title>
    <p class="contactus-dialog-title"> Contact our Customer support team</p>
    <p class="dialog-close-button" (click)="close()">X</p>
  </div>
  <div class="modal-content" mat-dialog-content>
    <div class="contact-details">
      <p><b>Call</b></p>
      <p>1-888-887-1030</p>
      <br>
      <p><b>Email</b></p>
      <p>support@pmbr.com</p>
      <br>
      <p><b>Hours</b></p>
      <p>Monday - Friday: 9 AM to 6 PM Eastern time</p>
    </div>
  </div>
</div>